services:
  backend: 
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - mern-network
    depends_on:
      - mongodb
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - mern-network
    volumes:
      - mongo-data:/data/db
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    networks:
      - mern-network
networks:
  mern-network:
    driver: bridge
volumes:
  mongo-data:
    driver: local
